/*
 *  Stylesheet for the stylesheet selector.
 *
 *  ReyBrujo, 2005
 */


div.stylesheet-selector {
    padding: 1%;

    background-color: #FFFFFF;
    border-top: 1px solid #3885CA;
    border-left: 1px solid #3885CA;
    border-right: 2px solid #3885CA;
    border-bottom: 2px solid #3885CA;
}


select.stylesheet-selector {
    font-family: "Courier New", monospace;
    font-size: 8pt;
    width: 100%;
}


label.selector {
    font-family: "Courier New", monospace;
    font-size: 8pt;

    color: #3885CA;
    text-align: center;
}


button.button-stylesheet {
}


/*
 * vim:tw=78:ts=4:et
 */
