/*
 *  Styles exclusive for the links page.
 *
 *  ReyBrujo, 2005
 */


div.link {
    background-color: #FFFFFF;

    padding: 1%;
    margin: 1%;

    border-right: 1px dotted #000000;
    border-bottom: 1px dotted #000000;
}

div.link-logo {
    float: left;
    background-color: #FFFFFF;
}

div.link-link {
    float: right;
}

div.link-explanation {
    clear: left;
}

a img {
    background-color: #FFFFFF;
}

@media all {
    a img {
        background-color: inherit;
        border: none;
    }
}


/*
 * vim:tw=78:ts=4:et
 */
