/*
 *  Stylesheet for general purpose styles.
 *
 *  ReyBrujo, 2005
 */


@import url(common_misc.css);


html, body {
    background-color: #3885CA;
    color: #000000;
}

acronym, abbr {
    /*  inherits from the base  */
    color: #7EB6E1;
}

hr.title {
    /*  inherits from the base  */
    color: #3885CA;
    background-color: #3885CA;
}

a:hover img {
    background-color: #FFFFFF;
}

a:hover span {
	position: relative;
	display: block;

	top: 10px;
	left: 30px;
	padding-left: 1%;
	padding-right: 1%;

	background-color: #B2DAFF;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	color: #000000;
}

a img {
    background-color: #FFFFFF;
}


/*
 * vim:tw=78:ts=4:et
 */
