/*
 *  Stylesheet for the stylesheet selector.
 *
 *  ReyBrujo, 2005
 */


div.stylesheet-selector {
    z-index: 1;

    margin-top: 1%;
    width: 15%;

    padding-left: 1%;
    padding-right:1%;

    padding: 1%;
    top: 1%;
    left: 1%;
    width: 100%;

    background-color: #FFFFFF;
}


select.stylesheet-selector {
    vertical-align: text-bottom;
    width: 100%;
}


/*
 * vim:tw=78:ts=4:et
 */
