/*
 *  Stylesheet for the bottom toolbar.
 *
 *  ReyBrujo, 2005
 */


div.bottom {
    position: relative;

    margin-top: 1%;

    left: 20%;
    width: 58%;

    padding: 1%;

    background-color: #FFFFFF;
    border: 1px dotted #000000;
}

div.bottom_left {
    float: left;
}

div.bottom_right {
    float: right;
}

div.bottom_center {
    /*  nothing  */
}

/*
 * vim:tw=78:ts=4:et
 */
