/*
 *  Stylesheet for the stylesheet selector.
 *
 *  ReyBrujo, 2005
 */


@import url(common_selector.css);

div.stylesheet-selector {
    padding: 1%;

    background-color: #FFFFFF;
    border-top: 1px solid #3885CA;
    border-left: 1px solid #3885CA;
    border-right: 2px solid #3885CA;
    border-bottom: 2px solid #3885CA;
}

label.selector {
    /*  inherits from the base  */
    color: #3885CA;
}


/*
 * vim:tw=78:ts=4:et
 */
