/*
 *  Miscellaneous styles.
 *
 *  ReyBrujo, 2005
 */


@import url(common_misc.css);


html, body {
    background-color: #226633;
    color: #000000;
}

a img {
    background-color: #BBDDCC;
}

acronym, abbr {
    /*  inherits from the base  */
    background-color: #DDEECC;
    color: #226633;
    border: 1px solid #226633;

    padding: 1px;
}

hr.title {
    /*  inherits from the base  */
    color: #226633;
    background-color: #226633;
}


/*
p.body {
    text-align: justify;

    font-family: "Courier New", monospace;
    font-size: 8pt;
}

span.question {
	font-style: italic;
	font-weight: bold;
	display: box;
}

a span {
    display: none;
    text-decoration: none;
}*/


/*
 * vim:tw=78:ts=4:et
 */
