
body {
    background-color: #3885CA;
}

acronym {
    font-style: italic;
    color: #7EB6E1;
    cursor: help;
}

div.header {
    position: absolute;

    top: 5%;
    left: 5%;
    width: 90%;
    height: 100px;

    background-color: #00FF00;
}

div.menu {
	float: right;

    top: 10%;
    left: 20%;
    width: 75%;
    height: 80%;
    min-width: 400px;
    padding-left: 1%;
    padding-right: 1%;

    background-color: #FFFFFF;
    border: dotted 1px #000000;
}

div.body {
	position: relative;
	float: right;

    width: 75%;
    height: 80%;
    min-width: 400px;
    padding-left: 1%;
    padding-right:1%;

    background-color: #FFFFFF;
    border: dotted 1px #000000;
}

h2.title {
    position: relative;
    float: left;
    display: inline;

    text-align: left;
    font-size: 12pt;
    font-weight: none;
    font-style: italic;
    font-family: "Courier New", monospace;
}

h2.version {
    float: right;

    text-align: right;
    font-size: 12pt;
    font-style: italic;
    font-family: "Courier New", monospace;
}

p.body {
    text-align: justify;

    font-family: "Courier New", monospace;
    font-size: 8pt;
}

div.justified {
    text-align: justify;
}

hr.title {
    clear: both;
    color: #3885CA;
}

span.question {
	font-style: italic;
	font-weight: bold;
	display: box;
}

a span {
    display: none;
    text-decoration: none;
}

@import url(extra_navigator.css);
